.navbar-right(ng-controller="loginController")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        .form-group
            input.form-control(placeholder="Username" ng-model="username")
        .form-group
            input.form-control(type="password" placeholder="Password" ng-model="password")
        button.btn.btn-primary(ng-click="signIn(username,password)") Sign In
        
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="" data-toggle="dropdown") {{identity.currentUser.firstName}} 
                span.caret
            ul.dropdown-menu
                li
                    a(ng-href="#/admin/users" ng-show="identity.currentUser.isAdmin()") User Admin 
                li
                    a(href="" ng-click="signOut()") Sign Out    