.well
    form.form-horizontal(name="signUp")
        fieldset
            legend New User Information
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input.form-control(name="email" type="email" ng-model="Email")
                .form-group
                    label.col-md-2 control-label(for=u