doctype
html
    head
        title My Porfolio
        link(href="./favicon.ico", rel="Shortcut ion" type="image/x-icon")
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href="/vendor/toastr/toastr.css" rel="stylesheet")
        link(href="/css/site.css" rel="stylesheet")
    body
        block main-content
        include scripts