.jumbotron
    h1 Quiz App
    p Welcome to the Quiz Application, Hope you guys have lots of fun


.row
    .col-md-6
       div(ng-include="'/partials/main/featured'")
    .col-md-6   
       div(ng-include="'/partials/main/new'")
        
h1 This is a partial
h2 Hello {{hello}}

